footer
	script(type="text/javascript" src='../bower_components/highlightjs/highlight.pack.js')
	script(type='text/javascript' src='../js/juicySlider.js')
	script(type='text/javascript').
		// syntax highlighting 
		hljs.initHighlightingOnLoad();
		
		// Jumbo
		var jumboOptions = {
			elName: 'JumboSlider',
			direction: 'horizontal',
			carousel: false,
			replay: false,
			visEl: 1,
			offset: 0,
			keyCtrl: true,
			ctrlNname: 'JumboNext',
			ctrlPname: 'JumboPrev',
			slideSpeed: 600,
		};
		var JumboSlider = new JuicySlider(jumboOptions).init();

		// the banana
		var bananaOptions = {
			elName: 'BananaSlider',
			direction: 'horizontal',
			carousel: false,
			includeArrows: true,
			replay: false,
			keyCtrl: false,
			visEl: 1,
			offset: 0,
			slideSpeed: 400,
		};
		var theBanana = new JuicySlider(bananaOptions).init();

		// the banana
		var AppleOptions = {
			elName: 'AppleSlider',
			direction: 'horizontal',
			carousel: true,
			includeArrows: true,
			replay: true,
			visEl: 1,
			offset: 0,
			slideSpeed: 400,
		};
		var theApple = new JuicySlider(AppleOptions).init();